<div class="container">
    <h1>Tasks Completed</h1>
    <div class="badge">
        <button mat-stroked-button color="primary" (click)="back()">Back</button>
    </div>
    <div class="content" *ngFor="let item of listFinished">
        <mat-card class="mat-elevation-z8">
            <p>Date to Finish: {{item.dateToFinish}} </p>
            <mat-card-header>
                <mat-card-title>{{item.title}}</mat-card-title>
                <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
